div{
 padding: 4%;
 flex-direction: column;
 color: black;
 font-size: 16px;
 justify-content: center;
 align-items: center;
 box-sizing: border-box;
 outline: none;
 border: none;
}

.container{     
 display: flex;
 background-color: yellow;
 position: relative;
}

.container:hover div:nth-child(1){
    transition: scale 1s ease-in-out 0.6s,translate 1s ease-in-out 1.6s;
    scale: 0.3 1;
    translate: -35% 0;
}

.container:hover div:nth-child(2){
    transition: transform 0.6s ease-in-out 0s,visibility 0.1s ease-in-out 0.4s;
    transform: translateY(-13vh);
    visibility: visible;
}   

.container:hover div:nth-child(3){
    transition: visibility 1s ease-in-out 2.7s,scale 0.5s ease-in-out 2.9s,translate 1.4s ease-in-out 2.4s;
    visibility: visible;
    scale: 0.67 1;
    translate: 16.3% 0;
}

.container div:nth-child(1){
 background-color: red;
 position: absolute;
 text-align: left;
 width: 60vw;
 height: fit-content;
 display: flex;
 box-shadow: rgba(0,0,0,0.5)  0 0 0.6vw 0.01vw;
 transition: scale 1s ease-in-out 1s,translate 1s ease-in-out 1s;
 z-index: 3;
}

.container div:nth-child(2){
 background-color: yellow;
 position: absolute;
 text-align: left;
 width: 60vw;
 height: fit-content;
 display: flex;
 visibility: hidden;
 transition: transform 1.5s ease-in-out 2s,visibility 0.1s ease-in-out 2.4s;
 z-index: 2;
}
 
.container div:nth-child(3){
 position: absolute;
 background-color: green;
 text-align: left;
 width: 60vw;
 height: fit-content;
 visibility: hidden;
 transition: visibility 0s ease-in-out 1.5s,scale 1s ease-in-out 0s,translate 1s ease-in-out 0s;
 scale: 0.3 1;
 translate: -35% 0;
 z-index: 1;
}
   